/* Presentación */

*{margin: 0;padding: 0;box-sizing: border-box;}
*::selection{background-color: rgba(0,0,0,0)}
body{overflow-x: hidden;background-color: #000;font-family: 'Questrial', sans-serif;max-width: 100vw;}
.keynote{width: 100vw;height: 100vh;position: relative;animation: show 2s ease 1;overflow: hidden;}
.slider{position: absolute;left: 0;top: 0;width: 100%;height: 100%;transition: transform 2s cubic-bezier(.34,-0.51,.33,1.49), opacity 2s ease;opacity: 0;background-repeat: no-repeat;background-position-x: center;background-position-y: center;padding: 10px;}
.slider.contrast{color: #000;}
.slider:nth-of-type(2n){background-color: #094109;transform: translateY(-100%) rotate(-60deg);}
.slider:nth-of-type(2n+1){background-color: #120532;transform: translateY(-100%) rotate(60deg);}
.slider:nth-of-type(1){background-color: #300a0a;}
.slider:nth-of-type(2){background-color: #652c08; transform: translateY(100%) }
.slider:nth-of-type(3){transform: translateY(100%) rotate(60deg);}
.slider:nth-of-type(5){transform: translateY(100%) rotate(60deg);}
.slider.actived{transform: translateY(0%);opacity: 1;}
.slider p:before{content: '';/*! border: 1px solid #000; */width: 102%;height: 104%;position: absolute;left: 7px;top: -8px;z-index: -1;background-color: rgba(250, 250, 250, 0.07);transform: scale(1);}
.slider p{color: #fff;width: 80%;margin: 8px auto;font-size: 1.5em;border: 1px solid #fff;padding: 26px;border-radius: 6px;text-align: justify;position: relative;}
.slider p i{background-color: rgba(8, 117, 98, 0.5);padding: 6px;margin: 5px;line-height: 2em;border-radius: 20px 0 22px 0;}
.slider.actived p:before{animation: flotando 3s ease 1;animation-direction: alternate;animation-fill-mode: forwards;}
.slider.contrast p{color: #000;background-color: rgba(255, 255, 255, 0.75);}
.slider span{display: block;margin: 0 auto;width: 100%;text-align: center;color: #eee;position: absolute;bottom: 34px;}
.slider p b{letter-spacing: 1px; font-size: 1.2em;margin-right: 10px;}
.slider h1{color: #fff;padding: 12px;width: 80%;text-align: center;margin: 52px auto 30px auto;font-size: 3em;transition: transform 3s ease;transform: translateY(-60px);}
.slider.contrast h1{color: #000;background-color: #cfcfcf;border-radius: 13px;}
.slider.actived h1{transform: translateY(0px);}
.slider img{height: 42%;margin: 0 auto;display: block;}
.slider img.grande{height: 60%;}
.slider img.icon-card{height: 75px;border-radius: 13px;margin-top: 80px;}
.slider p.code{}
.slider .middle{width: 50%;display: inline-block;vertical-align: middle;margin-right: -4px;}
.slider a{text-decoration: none;color: #969696;}
.slider a:after{content:'...'; margin-left: -2px;}

.slider .compare img{width: 128px;height: auto;display: inline-block;vertical-align: top;}
.slider .compare{text-align: center;}
.buttonsSlider{} 
.slider.bottom p{margin: 38% auto 0 auto;}

.buttonsSlider button{position: fixed;left: 0;bottom: 30px;color: #FFF;background-color: transparent;border: none;cursor: pointer;font-size: 2em;z-index: 1;opacity: 0.2;} 
.buttonsSlider button.left{left: 25px;}
.buttonsSlider button.right{right: 25px;left: unset;}

@keyframes show {
  from{opacity: 0;}
  to{opacity: 1}
}

@keyframes flotando{
  0%{transform: scale(0.5);}
  100%{transform: scale(1.02);}
}
@media all and (max-width:768px){
  body{font-size: 0.8em;}
  .slider img{height: auto;width: 100%}
  .slider img.grande{height: auto;}
}