%middleAlign{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

// Colores
$grey : #5e5e5e;
$orange : rgb(245, 176, 28);
@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Roboto:900|Russo+One');

body{
    overflow: hidden;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    line-height: 1.2em;
    min-width: 800px;
    min-height: 600px;
    &, *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    a{
        color: #fff;
    }
    h1{ margin: 10px auto; line-height: 1.1em;}
    .steps{
        opacity: 0.12;
        transition: opacity .2s ease;
    }
    
    .mini-photo{
        width: 60%;
        margin: 0 auto;
    }
    .teoria{
        box-shadow: 0 0 9px #606060;
        img{
            transition: all 1.3s ease;
            transform-origin: bottom ;
            box-shadow:  0 0 0px rgba(255,255,255,0);
            &:active{
                transform: scale(1.4) translateX(15vw) translateY(5%) !important;
                z-index: 1;
                border-radius: 15px;
                box-shadow:  0 0 165px 149px rgba(255,255,255,1);
            }
        }
        p{
            margin: 5px auto;
        }
    }
        
    .buttonsSlider button{position: fixed;left: 0;bottom: 30px;color: rgb(253, 102, 1);background-color: transparent;border: none;cursor: pointer;font-size: 2em;z-index: 1;opacity: 0.4;} 
    .buttonsSlider button.left{left: 25px;}
    .buttonsSlider button.right{right: 25px;left: unset;}
    &[step-state='1']{
        .step1{ opacity: 1;  .fateIn{ animation: fateInOrange .5s ease 1 forwards;}}
      
    }
    &[step-state='2']{
        .step1{ opacity: 1; .fateIn{ animation: fateInOrange .5s ease 1 forwards;}}
        .step2{ opacity: 1; .fateIn{ animation: fateInOrange .5s ease 1 forwards;}}
    }
    &[step-state='3']{
        .step1{ opacity: 1; .fateIn{ animation: fateInOrange .5s ease 1 forwards;}}
        .step2{ opacity: 1; .fateIn{ animation: fateInOrange .5s ease 1 forwards;}}
        .step3{ opacity: 1; .fateIn{ animation: fateInOrange .5s ease 1 forwards;}}
    }
    // Slider 3 Transition
    &[slide-state='3']{
        .page .ejercicio{
            .marco{
                > div{
                    transition: none;
                &:hover{
                    transform: scale(1.1);
                }
                }
            }
        }
        &[step-state='1']{
            .page .ejercicio{
                .marco{
                    > div{
                        transition: transform .2s ease;
    }   }   }   }   }
    // Slider 4 Transition  Property
    &[slide-state='4']{
        .page .ejercicio .marco{
            > div{
                transition: all 1s ease 0s;
            }
            > div:hover{
                background-color: #c58d1d;
                transform: scale(1.5);
                opacity: 0.5;
                z-index: 1;
            }
            .header-box{ &::before{content:'background';} transition-property: background-color; }
            .sider-box{ &::before{content:'transform'; }  transition-property: transform;}
            .content-box{ &::before{content:'opacity'; }  transition-property: opacity;}
            .content-foot-box{ &::before{content:'all';}  transition-property: all;}
        }
    }
    
    &[slide-state='7'],  &[slide-state='6'],  &[slide-state='5']{
        .page .ejercicio .marco{
            > div{
                transition: all 1s ease 0s;
            }
            > div:hover{
                background-color: #c58d1d;
                transform: scale(1.5);
                opacity: 0.5;
                z-index: 1;
            }
        }
    }

    // Slider 5 Transition  Property
      &[slide-state='5']{
        .page .ejercicio .marco{
            .header-box{ &::before{content:'1s';} transition-duration: 1s; }
            .sider-box{ &::before{content:'2s'; }  transition-duration: 2s;}
            .content-box{ &::before{content:'3s'; }  transition-duration: 3s;}
            .content-foot-box{ &::before{content:'4s';}  transition-duration: 4s;}
        }
    }

     // Slider 6 Transition  Property
     &[slide-state='6']{
        .page .ejercicio .marco{
            .header-box{ &::before{content:'1s';} transition-delay: 1s; }
            .sider-box{ &::before{content:'2s'; }  transition-delay: 2s;}
            .content-box{ &::before{content:'3s'; }  transition-delay: 3s;}
            .content-foot-box{ 
                &::before{
                    content:'4s - .5s';
                }
                transition-delay: .5s; 
                &:hover {
                    transition-delay: 4s;
                }
            }
        }
    }

     // Slider 7 Transition  Property
     &[slide-state='7']{
        .page .ejercicio .marco{
            .header-box{ &::before{content:'linear';} transition-timing-function: linear; }
            .sider-box{ &::before{content:'ease'; }  transition-timing-function: ease;}
            .content-box{ &::before{content:'cubic-bezier(.37,-0.72,.74,1.52)'; }  transition-timing-function:cubic-bezier(.37,-0.72,.74,1.52);}
            .content-foot-box{ &::before{ content:'step-start'; } transition-timing-function: step-start; }
        }
    }

    // sldier 9 
    &[slide-state='9']{
        .page .ejercicio .marco{

            .content-box{ 
                &::before{
                    content:'steps()'; 
                    color: #000;
                    top: 0;
                }
                height: 180px;
                width: 187px;
                background-color: #fff;
                background-image: url(images/luigi.png);
                background-size: auto 100%;
                background-position-x: 0%;
                transition: all .1s steps(2);
                &:hover{
                    background-position-x: 100%;
                }
            }
            .sider-box{ 
                &::before{
                    content:'linear'; 
                    color: #000;
                    top: 0;
                }
                height: 180px;
                width: 180px;
                background-color: #fff;
                background-image: url(images/luigi.png);
                background-size: auto 100%;
                background-position-x: 0%;
                transition: all .5s linear;
                &:hover{
                    background-position-x: 100%;
                }
            }
        }
    }

    // slider 10
    &[slide-state='10']{
        .page .ejercicio .marco{

        }
        &[step-state='1']{
            .page .ejercicio .marco{
                > div{
                    animation: electro 2s linear .1s infinite normal both;
                }
                .header-box{ animation-delay: .5s; }
                .sider-box{ animation-duration: 3s; }
                .content-box{ animation-direction: alternate; }
                .content-foot-box{   animation-direction: reverse; }
            }
        }
    }

    //sldier 11
    &[slide-state='11']{
        &[step-state='1']{
            .page .ejercicio .marco{
                .sider-box{
                    animation: animation-test-1 1s ease infinite alternate both;
                }
                .content-box{ 
                    animation: identifier 1s ease infinite alternate both;
                }
            }
        }
    }

    &[slide-state='12']{
        &[step-state='1'], &[step-state='2']{
            .page .ejercicio .marco{
                .content-box{ 
                    height: 230px;
                    width: 231px;
                    background-color: #fff;
                    background-image: url(images/luigi.png);
                    background-size: auto 100%;
                    background-position-x: 0%;
                    animation: luigi .3s steps(3, start) infinite; 
                }
            }
        }
        .page .teoria .anim-luigi{
            img:last-of-type{
                opacity: 0;
            }
        }
        &[step-state='2'], &[step-state='3']{
            .page .teoria .anim-luigi{
                img:last-of-type{
                    transform: translateY(-34vh) scale(1.4) translateX(6vw);
                    border-radius: 13px;
                    z-index: 1;
                    border: 1px solid #333;
                    opacity: 1;
                }
            }
        }
        &[step-state='3']{
            .page .ejercicio .marco{
                .content-box{ 
                    height: 230px;
                    width: 233px;
                    background-color: #fff;
                    background-image: url(images/luigi.png);
                    background-size: auto 100%;
                    background-position-x: 0%;
                    animation: luigi-2 .2s steps(1) infinite alternate; 
                }
            }
        }

    }

    &[slide-state='13']{
        &[step-state='3']{
            .page .ejercicio .marco{
                > div{ opacity: 0.2;}
                .content-box{ 
                    top: 20px;
                    left: 20px;
                    opacity: 1;
                    background-color: #429cd8;
                    position: relative;
                    animation: raaara 5s ease 4s infinite normal;
                }
            }
        }
    }

    // slide  14
    &[slide-state='14']{
        &[step-state='1']{
            .page .ejercicio .marco{
                > div{ animation:  animation-test-1 1s ease infinite normal; }
                .header-box{ &::before{content:'2';} animation-iteration-count: 2; }
                .sider-box{ &::before{content:'4'; } animation-iteration-count: 4;}
                .content-box{ &::before{content:'6'; } animation-iteration-count: 6;}
                .content-foot-box{ &::before{content:'infinite';} animation-iteration-count: infinite;}
            }
        }
    }
    &[slide-state='17']{
        &[step-state='1']{
            .page .ejercicio .marco{
                > div {
                    animation:  animation-test-1  2.5s ease infinite; 
                }
                .sider-box{ &::before{content:'running'; } animation-play-state: running; }
                .content-box{ 
                    &::before{content:'pause'; } 
                    animation-play-state: paused;
                    &:hover{
                        &::before{content:'running'; } 
                        animation-play-state: running;
                    }
                }
                .header-box, .content-foot-box{animation: none;}
            }
        }
    }
    &[slide-state='15']{
        &[step-state='1']{
            .page .ejercicio .marco{
                > div {
                    animation:  animation-test-2 2.5s ease infinite; 
                }
                .header-box{ &::before{content:'alternate';} animation-direction: alternate; }
                .sider-box{ &::before{content:'normal'; } animation-direction: normal; }
                .content-box{ &::before{content:'reverse'; }  animation-direction: reverse; }
                .content-foot-box{ &::before{content:'alternate-reverse';} animation-direction: alternate-reverse; }
            }
        }
    }
    &[slide-state='16']{
        &[step-state='1']{
            .page .ejercicio .marco{
                > div {
                    animation:  animation-test-2 2.5s ease infinite; 
                }
                .header-box{ &::before{content:'alternate';} animation-direction: alternate; }
                .sider-box{ &::before{content:'normal'; } animation-direction: normal; }
                .content-box{ &::before{content:'reverse'; }  animation-direction: reverse; }
                .content-foot-box{ &::before{content:'alternate-reverse';} animation-direction: alternate-reverse; }
            }
        }
    }
    &[slide-state='18']{
        .page .teoria .final{
            .text {
                 opacity: 0;
                 transform: translateX(20vw) translateY(-42%);
                 margin-left: -30px;
                 height: 70vh;
                 width: 100vw;
                }
        }
        &:not([step-state='0']){
            .page .teoria .final{
                .text {
                    opacity: 1;
                    p {
                    opacity: 0;
                    margin-top:50vh;
                    width: 50px;
                    display: inline-block;
                    font-size: 0px;
                    font-family: 'Russo One';
                    font-weight: 900;
                    color:#ffd800;
                    }
                    $color: rgb(68, 126, 85);
                    
                    @function makelongshadow($color) {
                        $val: 0px 0px $color;
                        @for $i from 1 through 300 {
                            $val: #{$val}, #{$i}px #{$i}px #{$color};
                        }
                        @return $val;
                        }

                    @for $i from 1 to 10 {
                        p:nth-child(#{$i}) { 
                        text-shadow: makelongshadow(adjust-hue($color, $i * 30));
                        animation: showup 5s infinite $i * 0.20s; 
                        opacity: 1;}
                    }
                
                }
            }
        }
    }
    

  
  

    .page{
        position: relative;
        .teoria{
            @extend %middleAlign;
            background-color: #4f5765;
            color:white;
            min-height: 100vh;
            height: 100%;
            .sliders{
                padding: 15px;
                min-height: 100vh;
                // border-bottom: 1px solid $orange;
                img{
                    max-width: 100%;
                }
                span{
                    font-size: 0.8em;
                }
                &.intro{
                    .icon-card{
                        width: 60%;
                        display: block;
                        border-radius: 10px;
                    }
                }
                &.historyCSS{
                    text-align: center;
                   
                    img{
                        display: block;
                        width: 90%;
                        height: auto;
                        margin: 0 auto;
                        max-width: 450px;
                        transition: opacity .5 ease , transform .5s ease;
                        @media all and (max-width : 900px){
                            max-width: 300px;
                        }
                    }
                    img:first-of-type{
                        opacity: 0;
                        position: absolute;
                    }
                    &.active{
                        img:first-of-type{
                            transform: translateX(50vw) translateY(100px);
                            opacity: 1;
                        }
                    }
                }
                &.AniAndTrans{

                    .column-2{
                        width: 50%;
                        position: absolute;
                        text-align: center;
                        &:last-of-type{
                            right: 0;
                            color: #2f2f2f;
                        }
                        h2{
                            margin: 15px auto;
                        }
                        h3{
                            opacity: 0.9;
                            font-weight: bold;
                            margin: 5px auto;
                        }
                       
                        p{
                            font-size: 1.3em;
                            margin: 6px auto;
                            width: 80%;
                            border: 1px solid $orange;
                            border-radius: 10px;
                            padding: 5px;
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                    }
                }
                &.cubic-bez{
                    text-align: center;
                    .toRight{
                        position: absolute;
                        width: 45vw;
                        transform: translateY(-200px);
                        transition:  opacity .5 ease , transform .5s ease 0s;
                        opacity: 0;
                    }
                    &.active{
                        .toRight{
                            transform: translateX(40vw) translateY(-200px);
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .ejercicio{
            background-color: white;
            @extend %middleAlign;
            position: relative;
            .marco{
                padding: 25px;
                width: 50%;
                height: 100vh;
                position: fixed;
                top: 0;
                right: 0;
                opacity: 1;
                visibility: visible;
                transition: opacity 1s ease , opacity 1s ease , visibility 1s ease;
                padding-top: calc(50vh - 202px);
                &:before{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 20px;
                    font-weight: bolder;
                    opacity: 0.2;
                }
                > div{
                    border: 1px solid #f6f6f6;
                    margin: 1%;
                    display: inline-block;
                    position: relative;
                    padding: 10px;
                    text-align: center;
                    background-color: #5e5e5e;
                    border-radius: 10px;
                    box-shadow: 0 0 5px #2f2f2f;
                    transition: all .2s ease;
                   
                    &:before{
                        position: absolute;
                        top: 40%;
                        color: #fff;
                        height: 40px;
                        width: 100%;
                        left: 0;
                    }
                    &.header-box, &.content-foot-box{
                        width: 97%;
                        height: 70px;
                        background-color: #028090;
                    }
                   &.footer-box{
                        width: 97%;
                        height: 50px;
                        background-color: #7e7e7e;
                    }
                    &.sider-box{
                        width: 27%;
                        height: 230px;
                        background-color: #EE4061;
                    }
                    &.content-box{
                        width: 67%;
                        height: 230px;
                        background-color: #01A896;
                    }
                }
            }
            [pt-state='0'], [pt-state='1'], [pt-state='2'], [pt-state='8'], [pt-state='18']{
                opacity: 0;
                visibility: hidden;
               
            }
            $estates : 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19;

            @each  $nameSlide in $estates  {
                .marco[pt-state='#{$nameSlide}']{
                    &:before{
                        content: '#{$nameSlide}';
                    }
                }
            } 
        }
    }
}

// Animations

@keyframes fateInOrange{
    from{ background-color: transparent; }
    to{ background-color: #c58d1d; color: #fff;  }
}
@keyframes electro{
    25%{ background-color: #1f76b1; transform: scale(1); opacity: 1;}
    75%{ background-color: #c58d1d; transform: scale(1.2); opacity: 0.5;}
    100%{ background-color: #c51da9; transform: scale(1); opacity: 1;}
}

@keyframes identifier {
from{ background-color: #F0F; }
to{ background-color: #FF0; }
}

@keyframes animation-test-1 {
0%{ transform: scale(1); }
100%{ transform: scale(1.2); }
}

@keyframes animation-test-2 {
    0%{ transform: scale(0.8) translateX(25vw); }
    100%{ transform: scale(1.2) translateX(0vw); }
    }

@keyframes raaara{
    0%{left: 20px; background-color: #429cd8;}
    25%{top: 20px;background-color: #217ebd;}
    50%{left: 0px; top: 40px; background-color: #155885;}
    75%{left: 50px; background-color: #0d3f61;}
    90%{top: 10px; background-color: #061a27;}
}

@keyframes luigi{
    from{background-position: 0% 0%;}
    to{background-position: 150% 0%;}
}

@keyframes luigi-2{
    0%{background-position: 0% 0%;}
    33%{background-position: 50% 0%;}
    66%{background-position: 100% 0%;}
}
    

@keyframes showup {
    0% {
      font-size:0px;
      transform:rotate(90deg);
    }
    5% {
      font-size:60px;
      
    }
    10% {
      font-size:77px;
      transform:rotate(0deg);
    }
    60% {
      font-size:77px;
      opacity: 1; 
    }
    71% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      font-size:77px;
      transform:rotate(0deg);
    }
  }
        